# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Test/cache artifacts
.pytest_cache/
.coverage
htmlcov/

# OS/editor
.DS_Store
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Terraform local state
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
